<div class="portfolio-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <h3 style= "color: #f19916" ><%= current_user.name %></h3>
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper 'nav-link' %>
    <div style="margin-top: 8px ; ">
        <%= link_to "New Portfolio" , new_portfolio_url %>
   </div>
    </nav>
  </div>
</div> 