<div class= "row">
  <div class = "col-md-10">
     <%= image_tag "wick.jpg",width: "350",alt:  "Profile Image"%> 
     

  </div>
  <div >
    <h5 class = "text-color"> HungryForever began in August 2014, with founder Pradeep Rajadas starting a WordPress-backed blog that covered food in his city. A firm believer in the power of the internet, marketing and technology, Pradeep started HungryForever (as part of his company ForeverNetworks Private Limited) as a way to share information with the community about the world of food.

     HungryForever is part of ForeverNetworks’ larger strategy of building (or co-creating) media properties in multiple interest-categories for the connected generation.

     Joined by his sister, Deepika Rajadas (as the Chief Editor), HungryForever quickly made a name for itself as a leading source of food news in the city. Chaitaanya Pravin, a long-time friend of Pradeep joined the company as an angel investor and member of the Board in December 2014.

     HungryForever quickly expanded its coverage with on-ground correspondents in Chennai, Bangalore, Delhi and Mumbai, India.

      Today, HungryForever.com has an 11 member team working for it, across geographies and is headquartered at #9, VGP Victory House, Anna Salai, Chennai – 600002</h5>
  </div>
</div>